<head>

  {{ $title := print .Title " | " .Site.Title}}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

  <meta charset="utf-8" />

  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" ></style>
  <link rel="icon" type="image/png" href="/MK2/img/favicon.png"/>
  <!-- <link href="//db.onlinewebfonts.com/c/1646cde4cb82668c6d24c9f33e67e4ea?family=Poor+Richard" rel="stylesheet" type="text/css"/> -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <script>
    WebFont.load({
      google: {
        families: ['Source Sans Pro']
      }
    });
  </script> 
</head>